.top-bar{
  position: sticky;
  top: 0;
}

#maps {
  position: fixed;
  width: 100%;
  top: 33px;
  left: 0;
}

.rectangle{
  position: fixed;
  left: 70%;
  top: 50%;
  border: 1px solid;
}

.nbResults{
  margin-bottom: 10px;
}

.title{
  font-weight: bold;
}

.container {
  position: relative;
  width: 50%;
  margin: 8px 8px 8px 8px;
}

.container .btn {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}

.results{
  padding-bottom: 15px;
}

.entreprises{
  margin: 320px 10%;
}

