.categories {
  column-count: 4;
  margin: auto;
  width: 50%;
}

.categories li {
  margin-left: 15px;
}

.badge{
  text-decoration: none;
  color:white;
}

.badge:hover {
  text-decoration: underline;
  color: #607d8b;
  font-size: 105%;
  cursor: pointer;
}
