<a (click)="storeService(service)" routerLink="/services/{{service.urlService}}" class="globalContainer">
    <div class="imageEtInfos">
        <div class="image">
            <!--<img class="logo" src={{entreprise.logo}} />-->
            <img class="logo" src='../../assets/logo-entreprise.png' />
        </div>
        <div class="infos">
            <div class="nom">
                {{service.urlService}}
            </div>
            <!--<div class="categories">
                <div class="categorie" *ngFor="let service of entreprise.services">
                    {{service}}
                </div>
            </div>
        -->
            <div class="etoiles">
                <span *ngFor="let star of yellowStarDisplayer">
                    <img class="etoile" src="../../assets/Etoile_jaune.png" />
                </span>
                <!--<span *ngIf="!isInteger(entreprise.note)">
                    <img class="etoile" src="../../assets/Etoile_demi.PNG" />
                </span>-->
                <span *ngFor="let star of greyStarDisplayer">
                    <span><img class="etoile" src="../../assets/Etoile_grise.png" /></span>
                </span>
            </div>
        </div>
    </div>
    <div class="caseBlanche">
        <img class="caseBlancheImage" src="../../assets/case.png" />
    </div>
</a>