<div class="globalContainer">
    <div class="imageEtInfos">
        <div class="image">
            <img *ngIf="objectEstValide(commentaire.auteur)" class="logo" src={{commentaire.auteur.avatar}} />
            <img *ngIf="!(objectEstValide(commentaire.auteur))" class="logo" src='../../assets/person-logo.jpg' />
        </div>
        <div class="infos">
            <div class="nom">
                <span *ngIf="objectEstValide(commentaire.auteur)">{{commentaire.auteur.pseudo}}</span>
                <span *ngIf="!(objectEstValide(commentaire.auteur))">anonyme</span>
            </div>
            <div class="etoiles">
                <span *ngFor="let star of yellowStarDisplayer">
                    <span><img class="etoile" src="../../assets/Etoile_jaune.png" /></span>
                </span>
                <span *ngIf="!isInteger(commentaire.note)">
                    <img class="etoile" src="../../assets/Etoile_demi.PNG" />
                </span>
                <span *ngFor="let star of greyStarDisplayer">
                    <span><img class="etoile" src="../../assets/Etoile_grise.png" /></span>
                </span>
            </div>
            <div class="text">
                {{commentaire.text}}
            </div>
        </div>
    </div>
    <div *ngIf="objectEstValide(commentaire.AFNOR) && commentaire.AFNOR" class="AFNOR">
        <img src="../../assets/check-logo.png">
    </div>
</div>