<div class="globalContainer">
    <div class="imageEtInfos">
        <div class="image">
            <!--<img *ngIf="objectEstValide(commentaire.auteur)" class="logo" src={{commentaire.auteur.avatar}} />-->
            <img class="logo" src='../../assets/person-logo.jpg' />
        </div>
        <div class="infos">
            <div class="nom">
                <span *ngIf="objectEstValide(commentaire.auteur)">{{commentaire.auteur}}</span>
                <span *ngIf="!(objectEstValide(commentaire.auteur))">anonyme</span>
            </div>
            <div class="etoiles">
                <span *ngFor="let star of yellowStarDisplayer">
                    <img class="etoile" src="../../assets/Etoile_jaune.png" />
                </span>
                <span *ngIf="!isInteger(commentaire.note)">
                    <img class="etoile" src="../../assets/Etoile_demi.PNG" />
                </span>
                <span *ngFor="let star of greyStarDisplayer">
                    <img class="etoile" src="../../assets/Etoile_grise.png" />
                </span>
            </div>
            <div class="text">
                {{commentaire.commentaire}}
            </div>
        </div>
    </div>
    <div *ngIf="objectEstValide(commentaire.respecteAfnor) && commentaire.respecteAfnor" class="AFNOR">
        <img src="../../assets/check-logo.png">
    </div>
</div>