.globalContainer {
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  width: 500px;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
}

.imageEtInfos {
  display: flex;
}

.infos {
  display: flex;
  flex-flow: column wrap;
}

.etoiles {
  display: flex;
}

.logo {
  border-radius: 50%;
  width: 70px;
  padding-top: 2px;
}

.image {
  width: 75px;
  padding: 1px 5px 1px 8px;
}

.text {
  width: 300px;
  overflow-wrap: break-word;
}

.etoile {
  width: 25px;
  height: 25px;
  padding-right: 1px;
  color: black;
}

.AFNOR {
  align-self: center;
  margin-right: 5px;
}

.AFNOR > img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}