<app-top-bar></app-top-bar>


 
<div class="globalContainer">
    <div class="imageEtInfos">
        <div class="image">
            
            <img class="logo" src='../../assets/logo-entreprise.png' />
        </div>
        <div class="infos">
            <div class="nom">
                {{entreprise.nom}}
            </div>
            <!--<div class="categories">
                <div class="categorie" *ngFor="let categorie of entreprise.categories">
                    {{categorie.name}}
                 </div>
            </div>-->
        </div>
    </div>
    <div class="etoiles">
        <span *ngFor="let star of yellowStarDisplayer">
            <span><img class="etoile" src="../../assets/Etoile_jaune.png" /></span>
        </span> -->
        <!--<span *ngIf="!isInteger(entreprise.note)">
            <img class="etoile" src="../../assets/Etoile_demi.PNG" />
        </span>
    -->
        <span *ngFor="let star of greyStarDisplayer">
            <span><img class="etoile" src="../../assets/Etoile_grise.png" /></span>
        </span>
    </div>
</div>

<app-etoile-pourcentage class="pourcentage" [commentaires]="commentaires"></app-etoile-pourcentage>
-->
<mat-radio-group *ngIf="commentairesValides(commentaires) && readyToDisplay" [(ngModel)]="labelPosition" class="AFNOR">
    <mat-radio-button class="example-margin" value="AFNOR">AFNOR uniquement</mat-radio-button>
    <mat-radio-button class="example-margin" value="NonAFNOR">Non AFNOR uniquement</mat-radio-button>
    <mat-radio-button class="example-margin" value="AFetNonAF">Tous</mat-radio-button>
</mat-radio-group>

<div class="services">
    <span>
        <h2>Services proposés:</h2>
    </span>
    <div *ngIf="entreprise.services.length == 0 ; else showServices">
        Pas de services proposés connus
    </div>
    <ng-template #showServices>
        <div *ngFor="let service of entreprise.services">
            <ul>
                <li>
                    {{service}}
                </li>
            </ul>
        </div>
    </ng-template>
</div>

<div class="flex">
    <div class="flexElement1">
        <mat-expansion-panel class="marginLeft column"
            *ngIf="commentairesValides(commentairesFiltres) && readyToDisplay">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1>Filtrer les commentaires</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <mat-form-field>
                    <mat-label>Sources</mat-label>
                    <mat-select [(ngModel)]="selectedSource" name="source">
                        <mat-option *ngFor="let source of sourcesCommentaires" [value]="source">
                            {{source}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-label>AFNOR:</mat-label>
            <mat-radio-group *ngIf="commentairesValides(commentaires) && readyToDisplay" [(ngModel)]="AFNOR_value"
                class="marginLeft">
                <mat-radio-button class="example-radio-button" *ngFor="let AF of AFNOR_Model" [value]="AF"
                    (change)="updateAFNOR()">
                    {{AF}}
                </mat-radio-button>
            </mat-radio-group>
            <h2>Note</h2>
            <mat-slider class="example-margin" [max]=5 [min]=1 [step]=1 [thumbLabel]="thumbLabel" [tickInterval]=1
                [(ngModel)]="noteValue">
            </mat-slider>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Date min</mat-label>
                    <input matInput (keyup)="storeDateMin($event)">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Date max</mat-label>
                    <input matInput (keyup)="storeDateMax($event)">
                </mat-form-field>
            </div>
            <a mat-raised-button (click)="filtrerCommentaires()">Filtrer</a>
            <a mat-raised-button (click)="resetParamsComm()">Reset</a>
        </mat-expansion-panel>

        <div class="commentairesContainer">
            <div *ngIf="commentairesValides(commentaires) && readyToDisplay">
                <div *ngFor="let commentaire of commentaires" class="commentaires">
                    <app-commentaire-view-template [commentaire]="commentaire"></app-commentaire-view-template>
                </div>
            </div>
            <div *ngIf="!commentairesValides(commentaires) && readyToDisplay">
                <h1>No comments</h1>
            </div>
        </div>
    </div>

    <div class="flexElement2">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Services proposés</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngIf="entreprise.services.length == 0 ; else showServices">
                    Pas de services proposés connus
                </div>
                <ng-template #showServices>
                    <div *ngFor="let service of entreprise.services">
                        <ul>
                            <li>
                                {{service}}
                            </li>
                        </ul>
                    </div>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </div>
</div>