<a (click)="storeService(service)" routerLink="/services/{{service.urlService}}" class="globalContainer">
  <div class="row small-padding-bg">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="image-size"><img class="logo" src='../../assets/logo-entreprise.png' /></div>
    </div>
    <div class="etoiles">
      <span *ngFor="let star of yellowStarDisplayer">
          <img class="etoile" src="../../assets/Etoile_jaune.png" />
      </span>
      <span *ngFor="let star of greyStarDisplayer">
          <span><img class="etoile" src="../../assets/Etoile_grise.png" /></span>
      </span>
  </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 customs-p">
      <h3>{{service.urlService}}</h3>
      <p><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><span>123456 avis</span></p>
      <p><span><i class="fa fa-mobile" aria-hidden="true"></i></span>TEL:</p>
      <p><span><i class="fa fa-location-arrow" aria-hidden="true"></i></span>Adresse</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a href="about.html" class="btn_orange medium customs-margin">Read more</a>
    </div>
  </div>
</a>
