.globalContainer {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  align-items: center;
  color: black;
  padding-bottom: 2%;
}

.imageEtInfos {
  display: flex;
  align-items: center;
}

.nom {
  font-weight: bold;
  font-size: x-large;
}

.infos {
  display: flex;
  flex-flow: column;
}

.etoiles {
  display: flex;
}

.displayFlex {
  display: flex;
}

.logo {
  border: 2px solid gray;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.image {
  width: 125px;
  padding: 1px 5px 1px 8px;
}

.etoile {
  width: 25px;
  height: 25px;
  padding-right: 1px;
  color: black;
}

.commentaires {
  padding-bottom: 15px;
}

.checkboxes {
  margin-left: 17%;
  padding-bottom: 1%;
  padding-top: 2%;
}

.marginLeft {
  margin-left: 15%;
}

.services {
  position: fixed;
  margin-left: 65%;
  border: solid 1px;
  width: max-content;
}

mat-radio-button {
  padding-bottom: 2%;
  padding-left: 2%;
}

mat-expansion-panel {
  width: 49%;
  margin-bottom: 2%;
}

.mat-raised-button {
  float: right;
}

.flex{
  display: flex;
  flex-flow: row wrap;
}

.flexElement1{
  width: 70%;
}

.flexElement2{
  width: 25%; 
}

.commentairesContainer{
  margin-left: 15%;
}